@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

body{
  padding: 0;
  margin: 0;
  font-family: "Rethink Sans", sans-serif;
}
p{
  margin: 0;
}
.parent{
  background-color: #b5d8fe;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main{
  width: 80%;
  border-radius: 40px;
  display: flex;
  background-color: #5c9ce4;
}
.img{
  background: url(/night.jpg) no-repeat;
  background-size: contain;
}
.left{
  width: 30%;
  padding: 60px 15px 60px 40px;
  color: white;
}
.right{
  width: 70%;
  border-radius: 40px;
  background-color: #e4f2ff;
  padding: 30px 30px;
}
.welcome{
  font-weight: 500;
  font-size: 18px;
}
.location-icons{
  display: flex;
  align-items: center;
  gap: 10px;
}
.location{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.temp{
  position: relative;
  margin-top: 30px;
}
.main-temp{
  text-align: center;
  font-size: 80px;
  margin: 0;
}
.cel{
  position: absolute;
  top: 0;
  margin-left: 5px;
  font-size: 35px;
}
.conditions p{
  text-align: center;
}
.conditions{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 24px;
}
.image-condition{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.history{
  height: 200px;
  background-color: white;
  margin-top: 30px;
  border-radius: 20px;
  padding: 20px 20px;
}
.history p{
  font-size: 16px;
  font-weight: 400;
}
.temp-trends{
  margin-bottom: 20px;
}
.others{
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.cards{
  width: 18%;
  height: 100px;
  background-color: white;
  border-radius: 20px;
  padding: 20px 20px;
}
.card-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5c9ce4;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  height: 30px;
  width: 30px;
}
.top-card{
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
.temp-card{
  position: relative;
}
.cel2{
  position: absolute;
  top: 0;
  font-size: 15px;
  margin-left: 2px;
}
.cel3{
  position: absolute;
  top: 0;
  font-size: 10px;
  margin-left: 2px;
}
.avgTempdiv{
  margin-top: 60px;
  margin-inline: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.avgCard{
  display: flex;
  align-items: center;
  flex-direction: column;

}