@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

body{
  padding: 0;
  margin: 0;
  font-family: "Rethink Sans", sans-serif;
}
p{
  margin: 0;
}
.parent{
  background-color: #b5d8fe;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main{
  width: 80%;
  height: 80%;
  border-radius: 40px;
  display: flex;
  background-color: #5c9ce4;
}
.left{
  width: 30%;
  padding: 60px 15px 60px 40px;
  color: white;
}
.right{
  width: 70%;
  border-radius: 40px;
  height: 100%;
  background-color: #e4f2ff;
}
.location-icons{
  display: flex;
  align-items: center;
  gap: 10px;
}
.location{
  margin-bottom: 10px;
}
.temp{
  position: relative;
  margin-top: 30px;
}
.main-temp{
  text-align: center;
  font-size: 80px;
  margin: 0;
}
.cel{
  position: absolute;
  top: 0;
  margin-left: 5px;
  font-size: 35px;
}
.conditions p{
  text-align: center;
}
.conditions{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 24px;
}