@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: "Rethink Sans", sans-serif;
}

p {
  margin: 0;
}

.parent {
  background-color: #b5d8fe;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parent-loading {
  background-color: #b5d8fe;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 80%;
  border-radius: 40px;
  display: flex;
  background-color: #5c9ce4;
}
.main-loading {
  height: 80%;
  width: 80%;
  border-radius: 40px;
  display: flex;
  background-color: #5c9ce4;
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
    animation: loading 1s ease infinite;
    background-size: 400% 100%;
}
@keyframes loading{
  0% {
    background-position: 100% 50%;
}
100% {
    background-position: 0 50%;
}
}

.img {
  background: url(/night.jpg) no-repeat;
  background-size: contain;
}

.left {
  width: 30%;
  padding: 60px 15px 60px 40px;
  color: white;
}

.right {
  width: 70%;
  border-radius: 40px;
  background-color: #e4f2ff;
  padding: 30px 30px;
}

.welcome {
  font-weight: 500;
  font-size: 18px;
}
.moreDetail {
  font-weight: 500;
  font-size: 18px;
}

.location-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.location {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.temp {
  position: relative;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrows {
  cursor: pointer;
  font-size: 25px;
}

.main-temp {
  text-align: center;
  font-size: 80px;
  margin: 0;
}

.cel {
  position: absolute;
  top: 0;
  margin-left: 5px;
  font-size: 35px;
}

.conditions p {
  text-align: center;
}

.conditions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 24px;
}

.image-condition {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.history {
  height: 200px;
  background-color: white;
  margin-top: 30px;
  border-radius: 20px;
  padding: 20px 20px;
}

.history p {
  font-size: 16px;
  font-weight: 400;
}

.temp-trends {
  margin-bottom: 20px;
}

.others {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.cards {
  width: 18%;
  height: 100px;
  background-color: white;
  border-radius: 20px;
  padding: 20px 20px;
}

.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5c9ce4;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  height: 30px;
  width: 30px;
}

.top-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.temp-card {
  position: relative;
}

.cel2 {
  position: absolute;
  top: 0;
  font-size: 15px;
  margin-left: 2px;
}

.cel3 {
  position: absolute;
  top: 0;
  font-size: 10px;
  margin-left: 2px;
}

.avgTempdiv {
  margin-top: 60px;
  margin-inline: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avgCard {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.top-card p {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width:1450px) {
  .cards {
    width: 16%;
    height: 100px;
    background-color: white;
    border-radius: 20px;
    padding: 20px 20px;
    font-size: 12px;
  }
  .img{
    background-size: cover;
  }
}

@media screen and (max-width:1175px) {
  .cards {
    width: 16%;
    height: 60px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 12px;
  }
  .main-temp{
    font-size: 44px;
  }
  .avgTempdiv{
    margin-inline: 0px;
    font-size: 15px;
  }

  .card-icon {
    display: none;
  }
}

@media screen and (max-width:1000px) {
    .cards h2{
      font-size: 14px;
    }
    .cel2{
      font-size: 8px;
    }
    .avgTempdiv{
      flex-direction: column;
      margin-top: 20px;
      gap: 15px;
    }
    .main-temp{
      font-size: 35px;
    }
    .cel{
      font-size: 15px;
    }
    .left{
      padding: 35px 15px 30px 40px;
    }
}

@media screen and (max-width:768px) {
  .parent{
    height: auto;
  }
  .main{
    flex-direction: column;
    width: 100%;
    border-radius: 0;
  }
  .left{
    width: 100%;
    padding: 0;
  }
  .avgTempdiv{
    flex-direction: row;
  }
  .right{
    width: 100%;
    border-radius: 0;
    padding: 0;
  }
  .location{
    padding: 20px 20px 0px 20px;
  }
  .dates{
    padding: 0px 20px;
  }
  .temp{
    padding-inline: 45px;
  }
  .avgTempdiv{
    padding: 20px 50px 20px 50px;
  }
  .right-head{
    padding: 20px 30px;
  }
  .history{
    margin-top: 10px;
    margin-inline: 30px;
  }
  .moreDetail{
    padding-inline: 30px;
  }
  .others{
    padding-inline: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width:426px){
  .cards h2{
    font-size: 14px;
  }
  .cards{
    width: 39%;
    height: 45px;
  }
  .top-card p{
    font-size: 14px;
  }
  .main-loading{
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}